name: Run checks on terraform plans
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@master

      - name: Terraform Apply for AWS
        uses: kciter/terraform-apply-for-aws-action@v3
        with:
          access_key_id: ${{ secrets.GITHUB_SS_ACCESS_KEY_ID }}
          secret_access_key: ${{ secrets.GITHUB_SS_ACCESS_KEY }}
          region: eu-west-1
          #variables: var=${{ github.sha }}
          path: terraform/dev
#      - name: Lint Terraform
#        uses: imehedi/ga-terraform-validate@master
#        env: # Or as an environment variable
#          access_key_id: ${{ secrets.GITHUB_SS_ACCESS_KEY_ID }}
#          secret_access_key: ${{ secrets.GITHUB_SS_ACCESS_KEY }}
#          region: "eu-west-1"